<h5>Добро пожаловать в rest api</h5>
<p>Доступные ссылки</p>
<ul>
<li>
<a href='/'>/</a>
</li><li><a href='/account'>account</a>
</li><li>
<a href='/accountstatus'>accountstatus</a>
</li><li>
<a href='/ardoc'>ardoc</a>
</li><li>
<a href='/docdet'>docdet</a>
</li><li>
<a href='/docstatus'>docstatus</a>
</li><li>
<a href='/doctype'>doctype</a>
</li><li>
<a href='/note'>note</a>
</li><li>
<a href='/orddet'>orddet</a>
</li><li>
<a href='/orderstatus'>orderstatus</a>
</li><li>
<a href='/ordertype'>ordertype</a>
</li><li>
<a href='/periodtype'>periodtype</a>
</li><li>
<a href='/plan'>plan</a>
</li><li>
<a href='/plancategory'>plancategory</a>
</li><li>
<a href='/planperiod'>planperiod</a>
</li><li>
<a href='/planrate'>planrate</a>
</li><li>
<a href='/resource'>resource</a>
</li><li>
<a href='/salesorder'>salesorder</a>
</li><li>
<a href='/salesperson'>salesperson</a>
</li><li>
<a href='/subscription'>subscription</a>
</li><li>
<a href='/subscrparam'>subscrparam</a>
</li><li>
<a href='/substatus'>substatus</a>

</li>
</ul>
<h5>
Особые ссылки
</h5>
<ul>
<li>
<a href='/orders'>orders</a>
</li>
</ul>


